In [51]:
import pandas as pd

In [52]:
df = pd.DataFrame({'name':['  Jessen H  ', ' Vic A ', ' Linden L '], 'birthday':['10-Jan-1980', '2/28/85', '16.01.1975 00:00:00']})
df

              birthday          name
0          10-Jan-1980    Jessen H
1              2/28/85        Vic A
2  16.01.1975 00:00:00     Linden L

In [53]:
print (df.loc[0, 'name'])

  Jessen H

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
birthday    3 non-null object
name        3 non-null object
dtypes: object(2)
memory usage: 128.0+ bytes

In [55]:
def strip_str(s):
    return s.strip()

In [56]:
#strip whitespaces on name column
df['name'] = df['name'].apply(lambda x:strip_str(x))

In [57]:
#df['name'] = df['name'].astype(str).apply(lambda x:x.strip())

In [58]:
def get_first_name(name):
    return name.split()[0]

In [59]:
#create first_name column from name column
df['first_name'] = df['name'].apply(lambda x:get_first_name(x))

In [60]:
df['last_name'] = df['name'].apply(lambda x:x.split()[1])

In [61]:
df

              birthday      name first_name last_name
0          10-Jan-1980  Jessen H     Jessen         H
1              2/28/85     Vic A        Vic         A
2  16.01.1975 00:00:00  Linden L     Linden         L

In [62]:
print (df.loc[0, 'name'])

Jessen H

In [63]:
from datetime import datetime
datetime.strptime?

## Datetime format
%b - abbreviated month name, Jan, Dec

%B - full month name

%d - day of the month (01 to 31), also works without 0 padding, 1-31

%D - same as %m/%d/%y

%H - hour, using a 24-hour clock (00 to 23)

%I - hour, using a 12-hour clock (01 to 12)

%m - month (01 to 12)

%M - minute

%S - second

%T - current time, equal to %H:%M:%S

%y - year without a century (range 00 to 99)

%Y - year including the century

In [64]:
from datetime import datetime
#10-Jan-1980
dt = datetime.strptime('10-Jan-1980', '%d-%b-%Y')
type(dt)

datetime.datetime

In [65]:
#2/28/85
#should be '%d/%m/%y'
dt = datetime.strptime('2/3/85', '%d/%m/%Y')

ValueError: time data '2/3/85' does not match format '%d/%m/%Y'

In [66]:
from datetime import datetime
def convert_date(date_str):
    '''
    date format: https://www.tutorialspoint.com/python/time_strptime.htm
    existing formats:
    28-Jun-1989
    18.07.2012 00:00:00
    3/25/2013
    3/4/2014 0:00
    '''
    try:
        #28-Jun-1989
        dt = datetime.strptime(date_str, '%d-%b-%Y')
        return dt#.strftime('%Y-%m-%d')
    except:
        pass
    try:
        #3/25/18
        dt = datetime.strptime(date_str, '%m/%d/%y')
        return dt#.strftime('%Y-%m-%d')
    except:
        pass
    try:
        #28-Jun-89
        dt = datetime.strptime(date_str, '%d-%b-%y')
        return dt#.strftime('%Y-%m-%d')
    except:
        pass
    try:
        #18.07.2012 00:00:00
        dt = datetime.strptime(date_str, '%d.%m.%Y %H:%M:%S')
        return dt#.strftime('%Y-%m-%d')
    except:
        pass
    try:
        #2/18/1980
        dt = datetime.strptime(date_str, '%m/%d/%Y')
        return dt#.strftime('%Y-%m-%d')
    except:
        pass
    try:
        #2/18/1980 00:00
        dt = datetime.strptime(date_str, '%m/%d/%Y %H:%M')
        return dt#.strftime('%Y-%m-%d')
    except:
        pass
    print (date_str)

In [67]:
df['birthday'] = df['birthday'].apply(lambda x:convert_date(x))

In [68]:
df

    birthday      name first_name last_name
0 1980-01-10  Jessen H     Jessen         H
1 1985-02-28     Vic A        Vic         A
2 1975-01-16  Linden L     Linden         L

In [69]:
type(df.loc[0,'birthday'])

pandas.tslib.Timestamp